<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reports</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='reports.css') }}">
    <script src="{{ url_for('static', filename='dropdown.js') }}" defer></script>
</head>
<body>
    <div class="navbar">
        <div class="dropdown">
            <button class="dropbtn">☰</button>
            <div class="dropdown-content">
                <a href="/add_item">Add Item</a>
                <a href="/billing">Bill</a>
                <a href="/customers">Customers</a>
                <a href="/dashboard">Dashboard</a>
                <a href="/records">Records</a>
                <a href="/stock">Stock</a>
            </div>
        </div>
    </div>
    
    <div class="container">
        <h1>Reports - Present, Sold, and Remaining Quantities</h1>
        <div>
            <img src="data:image/png;base64,{{ plot_url }}" alt="Graph">
        </div>
    </div>
</body>
</html>
